
:root{
    --main-color: #f44e42;
    --fill-color: #000000;
    --border-color: #9b6965;
}

.gallery-title
{
    text-shadow: 2px 2px 2px black;
    font-size: 36px;
    color: var(--main-color);
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #000000;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: var(--main-color);
    margin-bottom: 30px;
}

.img-custom {
    width: 100%;
    height: 200px;
  }

  .img-custom2 {
    width: 100%;
    height: 600px;
  }


  .img-modal
  {
      width: auto;
      height: auto;
  }
  
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    text-align: center;
    color:var(--main-color);
    background-color: white;

}
.btn-default:active .filter-button:active
{
    background-color: white;
    color: var(--main-color);
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

