// Styling for the services section

.service{
  background-color: white !important;
  color: white !important;
  background: white !important;
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
